/target

# Library required by building libpnet on Windows
Packet.lib

# Visual Studio Code directories
.vscode/

# CLion directories
.idea/

# Log
*.log

# Configurations
*.json

# macOS directories
.DS_Store
